{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock%}

{% block content %}
    <h1>Главная страница</h1>
<img src="" alt="">
    {% if request.user.is_authenticated %}
        {% if tasks%}
            {% for el in tasks %}
                <div class="alert alert-warning mt-2">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.task }}</p>
                    <div class="btn-group">
                        <a href="{% url 'task_page' el.id %}" class="btn btn-sm btn-outline-secondary">Open</a>
                        <a href="{% url 'update_task' el.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Done</button>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p>Записи отсутствуют</p>
        {% endif%}
    {% else %}
        <p>Войдите в свой профиль, чтобы увидеть задачи</p>
    {% endif%}
{% endblock %}


