{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock%}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if tasks%}

            {% for el in tasks %}
                <div class="tasks-col cols-xl-3">
                    <div class="task-card">
                            <h3 class="card-header">{{ el.title }}</h3>
                            <p class="card-text">{{ el.task }}</p>
                        <div class="btn-group">
                            <a href="{% url 'task_page' el.id %}" class="btn btn-sm btn-outline-secondary">Open</a>
                            <a href="{% url 'update_task' el.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p>Записи отсутствуют</p>
        {% endif%}
    {% else %}
        <p>Войдите в свой профиль, чтобы увидеть задачи</p>
    {% endif%}
{% endblock %}


